.card{
    width: 260px;
    margin: 20px auto;
    border: 1px solid #00838f;
}

.card-content{
    border-top: 1px solid #00838f;
}

.actionLink{
    margin: 0 20px !important;
}

@media only screen and (min-width : 993px) {
    .card{
        width: 350px;
    }
}